{% extends "scrape/base.html" %}
{% load crispy_forms_tags %}
{% block content1 %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    パスワードをリセット
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">パスワードをリセット</button><br>
                <small class='text-muted'>※リセット用のメールが送信されます．時間が経っても送信されない場合は，メールアドレスが間違っている可能性があります．</small>
            </div>
        </form>
    </div>
{% endblock content1 %}